@{
    ViewData["title"] = "CheckVigency";
    <script src="https://unpkg.com/html5-qrcode"></script>
}

<h1>Welcome</h1>

<div>Scan your QR Id</div>

@if(TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if(TempData["Warning"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Warning"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="reader" style="width: 300px;"></div>

<form id="qrForm" method="post" asp-controller="CheckVigency" asp-action="Scan">
    <input type="hidden" id="scannedCode" name="id" />
</form>

<div id="resultado" style="margin-top: 20px;">
    <strong>Código escaneado:</strong> <span id="codigoEscaneado"></span>
</div>

<script>
    const qr = new Html5Qrcode("reader");

    qr.start(
        { facingMode: "environment" },
        { fps: 10, qrbox: 250 },
        qrCodeMessage => {

            document.getElementById("codigoEscaneado").textContent = qrCodeMessage;
            document.getElementById("scannedCode").value = qrCodeMessage;

            qr.stop().then(()=>{
                console.log("Scaned QR code: ", qrCodeMessage);
                setTimeout(()=>{
                    document.getElementById("qrForm").submit(); // Send to Backend
                },3000);
            }); 
        },
        errorMessage => {
            // Errores opcionales, puedes mostrar un mensaje si quieres
        }
    );
</script>



