@model CreateCustomerViewModel

@{
    ViewData["Title"] = "Create New Customer";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<p>Fill in the form below to create a new customer.</p>
<p>All fields are required.</p>
<p>Subscription plans are available for 1 month, 2 months, 3 months, or 1 year.</p>

<form asp-action="CreateCustomer" method="post" onsubmit="return false;">
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="me-2 mb-0">Name: </p>
        <input class="form-control me-2" type="text" asp-for="Name" placeholder="Juan Carlos Perez Solis"/>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="me-2 mb-0">Gender: </p>
        <select class="form-select me-2" asp-for="Gender">
            <option value="none">None</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="me-2 mb-0">Subscription Plan:</p>
        <select class="form-select me-2" asp-for="SubscriptionPlanMonths">
            <option value="1">1 Month</option>
            <option value="2">2 Months</option>
            <option value="3">3 Months</option>
            <option value="12">1 Year</option>
        </select>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

@await Html.PartialAsync("_ConfirmModal")

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const submitBtn = document.getElementById('submitBtn');
            const confirmBtn = document.getElementById('confirmBtn');
            const form = document.querySelector('form');

            submitBtn.addEventListener('click', function () {
                // Mostrar el modal
                var myModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                myModal.show();
            });

            confirmBtn.addEventListener('click', function () {
                // Enviar el formulario si confirman
                form.submit();
            });
        });
    </script>
}


